.titulo {
    color: burlywood
}

.body {
    background-image: url("assets/giphy.gif");
}   

.body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(7, 3, 3, 0.5);
    z-index: -1;
}
.texto {
    color: burlywood;
    font-size:20px 
}

.lista{
    font-size: larger;
    color: antiquewhite;
}

.coisas{
    color: rgb(247, 209, 160);
}
.fire{
    width:100% ;
    height: 50px;
    /* background-image: url(assets/fire.gif); */
    
    background: url(assets/fire.gif) repeat;
}


    


. {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3rem; /* ajuste o tamanho conforme precisar */
  font-weight: bold;
}

.arco-iris {
  
  font-size: 100px;

    /* Fundo em degradê com as cores do arco-íris */
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  
  /* Faz o fundo ficar maior para poder se mover */
  background-size: 200% auto;
  
  /* Recorta o fundo no formato das letras */
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  
  /* Aplica a animação: nome, duração, ritmo e repetição */
  animation: mover-arcoiris 4s linear infinite;
}

/* Define o movimento do fundo */
@keyframes mover-arcoiris {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}