{}*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.corpo{
    padding: 1rem;/* irá trazer um distanciamento da borda com um ditancia de 1rem (8px) */
    /* "ctrl + ;" -> para criar um atalho */
}
.cabecalho{
    background-color: grey;
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    padding: 1rem;
}
.sessao{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 2rem);
    padding: 1rem;
    background-color: rgb(70, 86, 100);
    margin: 1rem 0 1rem 0;
    border-radius: 5px;
    gap: 1rem;
}
.titulo-nav{
    text-align: center;
    color:aliceblue;
    background-color: rgb(113, 116, 139);
    border-radius: 5px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
.nav-links{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 20px;
    gap: 1em;
}
.links{
    text-decoration: none;
    color: #ffffff;
}

.sessao-semantica{
    background-color: #a9afcc;
    width: 80%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
    padding: 1rem;
    flex-direction: column;
}
.article-div{
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
    width: calc(100% - 2rem);
    margin: 1rem;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.anuncios{
    width: 17%;
    border: 1px solid black;
    text-align: center;
    color: aliceblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    transition: background 1s;
}
.anuncios:hover, .anuncios:focus {
    background-color: pink;
    border: 1px double lime;
}

.imagem{
    width:auto;
    height: auto;
    border-radius: 5px;
}
.texto{
    padding: 1em;
    writing-mode: horizontal-tb;
    width: 90%;
    font-size: 700;
}
.texto-vert{
    writing-mode: vertical-rl;
    font-size: 700;
}
.rodape{
    background-color: gray;
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.article-text{
    align-items: center;
    width: 40%;
    padding: 2em;
}
.title-article{
    width: 100%;
}